<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
      <h1><%=@team.name%><h1>
      <h2>Team Motto: <%=@team.motto%></h2>
      
      <%@members.each do |el|%>
        <h2>Hero Name: <%=el.name%></h2>
        <h4>Hero Power: <%=el.power%></h4>
        <h4>Hero Biography: <%=el.bio%></h4>
      <%end%>
     
  </body>
  
</html>


